/* Basics */

body {
    background-color: rgb(236, 235, 228) !important;
    position: relative;
    height: 100vh;

}

.header {
    height: 100px;
}

/* Progressbar */

#progressbar {
    height: 18px !important;
}

/* Quiz-Card */

b {
    font-weight: bold;
}

#questionCard {
    height: 424px;
}

.card {
    max-height: 786px;
    max-width: 616px;
}

.cardContainer {
    height: calc(100vh - 100px);
}

.card-body {
    height: 56px;
    
}

.marker {
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardFooter {
    height: 60px;
}

.cardAnswer {
    box-sizing: border-box;
    margin-bottom: 15px;

}

.cardAnswer:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);

}

.unclickable {
    pointer-events: none;
}

/* start Screen Buttons */

.startScreen{
    height: 250px;
    flex-wrap: wrap;

}

.startScreen button {
   height: 120px;
   width: 120px;
   background-color: rgb(252, 252, 252);
   border: 1px solid rgb(158, 154, 154);
   border-radius: 25px;
   font-size: 60px;
   box-shadow: inset;
   color: rgb(82, 81, 81);
}

.startScreen img {
    width: 150px;
}

/* end Screen */
.endScreen {
    text-align: center;
}

.endScreen > span {
    font-size: 25px;
    padding-bottom: 20px;
}
