/* Basics */

body {
    background-color: rgb(236, 235, 228) !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.header {
    height: 100px;
}

h2 {
    font-size: 30px;
}

/* Progressbar */

#progressbar {
    height: 18px !important;
}

/* Quiz-Card */

b {
    font-weight: bold;
}

#questionCard {
    height: 440px;
}

.card {
    max-height: 786px;
    max-width: 616px;
}

.card-body {
    height: 56px;

}

.card-title {
    height: 56px;
}

.marker {
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardFooter {
    height: 60px;
}

.cardAnswer {
    box-sizing: border-box;
    margin-bottom: 15px;

}

.cardAnswer:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);

}

.unclickable {
    pointer-events: none;
}

/* start Screen */

.startScreen {
    height: 250px;
    flex-wrap: wrap;

}

.startScreen button {
    height: 120px;
    width: 120px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(243, 170, 11);
    border-radius: 25px;
    font-weight: 500;
    font-size: 60px;
    color:rgb(27, 25, 25);
    transition: all 225ms;

}

.startScreen button:hover {
    transform: scale(1.1) rotate(7deg);
    transition: all 225ms;
}

.startScreen img {
    width: 150px;
}

/* end Screen */
.endScreen {
    text-align: center;
}

.endScreen>span {
    font-size: 25px;
    padding-bottom: 20px;
}

@media screen and (max-width: 474px) {
    .startScreen button {
        width: 110px;
        height: 110px;
        font-size: 50px;
    }
}

@media screen and (max-width: 445px) {
    .startScreen button {
        width: 90px;
        height: 90px;

    }

    h2 {
        font-size: 25px;
    }
}

@media screen and (max-height: 640px) {
    .card {
        max-height: 640px;
    }
}
